<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>49</th>
      <th>Error Type</th>
      <th>35</th>
      <th>10200</th>
      <th>100</th>
      <th>40</th>
      <th>54</th>
      <th>59</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>CLIENT1</td>
      <td>150 : missing</td>
      <td>D</td>
      <td>DSA</td>
      <td>NS</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>CLIENT1</td>
      <td>6400 : missing</td>
      <td>D</td>
      <td>DSA</td>
      <td>NS</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>CLIENT1</td>
      <td>6400 : unexpected</td>
      <td>D</td>
      <td>DSA</td>
      <td>NS</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>CLIENT1</td>
      <td>1 : Incorrect</td>
      <td>D</td>
      <td>DSA</td>
      <td>NS</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>CLIENT1</td>
      <td>1000 : unexpected</td>
      <td>D</td>
      <td>DSA</td>
      <td>NS</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>CLIENT1</td>
      <td>11 : Incorrect</td>
      <td>D</td>
      <td>DSA</td>
      <td>NS</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>CLIENT1</td>
      <td>15 : Incorrect</td>
      <td>D</td>
      <td>DSA</td>
      <td>NS</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>CLIENT1</td>
      <td>21 : Incorrect</td>
      <td>D</td>
      <td>DSA</td>
      <td>NS</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>CLIENT1</td>
      <td>44 : Incorrect</td>
      <td>D</td>
      <td>DSA</td>
      <td>NS</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>CLIENT1</td>
      <td>5 : missing</td>
      <td>D</td>
      <td>DSA</td>
      <td>NS</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>4</td>
    </tr>
    <tr>
      <th>10</th>
      <td>CLIENT1</td>
      <td>52 : Incorrect</td>
      <td>D</td>
      <td>DSA</td>
      <td>NS</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>11</th>
      <td>CLIENT1</td>
      <td>6400 : missing</td>
      <td>D</td>
      <td>DSA</td>
      <td>NS</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>12</th>
      <td>CLIENT1</td>
      <td>6500 : Incorrect</td>
      <td>D</td>
      <td>DSA</td>
      <td>NS</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>13</th>
      <td>CLIENT1</td>
      <td>6500 : missing</td>
      <td>D</td>
      <td>DSA</td>
      <td>NS</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>14</th>
      <td>CLIENT1</td>
      <td>7009 : Incorrect</td>
      <td>D</td>
      <td>DSA</td>
      <td>NS</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>15</th>
      <td>CLIENT1</td>
      <td>7009 : missing</td>
      <td>D</td>
      <td>DSA</td>
      <td>NS</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>16</th>
      <td>x</td>
      <td>150 : missing</td>
      <td>D</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>17</th>
      <td>x</td>
      <td>150 : missing</td>
      <td>F</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>18</th>
      <td>x</td>
      <td>6400 : missing</td>
      <td>8</td>
      <td>DMA</td>
      <td>x</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>19</th>
      <td>x</td>
      <td>6400 : missing</td>
      <td>8</td>
      <td>DMA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>20</th>
      <td>x</td>
      <td>6400 : unexpected</td>
      <td>D</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>21</th>
      <td>x</td>
      <td>6400 : unexpected</td>
      <td>F</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>22</th>
      <td>x</td>
      <td>1 : Incorrect</td>
      <td>D</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>23</th>
      <td>x</td>
      <td>1 : Incorrect</td>
      <td>D</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>4</td>
    </tr>
    <tr>
      <th>24</th>
      <td>x</td>
      <td>1 : Incorrect</td>
      <td>F</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>25</th>
      <td>x</td>
      <td>1 : Incorrect</td>
      <td>F</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>26</th>
      <td>x</td>
      <td>1 : Incorrect</td>
      <td>G</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>x</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>27</th>
      <td>x</td>
      <td>1 : missing</td>
      <td>8</td>
      <td>DMA</td>
      <td>x</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>28</th>
      <td>x</td>
      <td>1 : missing</td>
      <td>8</td>
      <td>DMA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>29</th>
      <td>x</td>
      <td>100 : Incorrect</td>
      <td>G</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>x</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>30</th>
      <td>x</td>
      <td>10001 : unexpected</td>
      <td>D</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>31</th>
      <td>x</td>
      <td>101 : unexpected</td>
      <td>D</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>32</th>
      <td>x</td>
      <td>102 : unexpected</td>
      <td>D</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>33</th>
      <td>x</td>
      <td>11 : Incorrect</td>
      <td>D</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>34</th>
      <td>x</td>
      <td>11 : Incorrect</td>
      <td>D</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>4</td>
    </tr>
    <tr>
      <th>35</th>
      <td>x</td>
      <td>11 : Incorrect</td>
      <td>F</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>36</th>
      <td>x</td>
      <td>11 : Incorrect</td>
      <td>F</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>37</th>
      <td>x</td>
      <td>11 : Incorrect</td>
      <td>G</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>x</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>38</th>
      <td>x</td>
      <td>15 : Incorrect</td>
      <td>D</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>39</th>
      <td>x</td>
      <td>15 : Incorrect</td>
      <td>D</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>4</td>
    </tr>
    <tr>
      <th>40</th>
      <td>x</td>
      <td>15 : Incorrect</td>
      <td>F</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>41</th>
      <td>x</td>
      <td>15 : Incorrect</td>
      <td>F</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>42</th>
      <td>x</td>
      <td>15 : Incorrect</td>
      <td>G</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>x</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>43</th>
      <td>x</td>
      <td>150 : unexpected</td>
      <td>D</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>44</th>
      <td>x</td>
      <td>21 : Incorrect</td>
      <td>D</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>45</th>
      <td>x</td>
      <td>21 : Incorrect</td>
      <td>D</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>4</td>
    </tr>
    <tr>
      <th>46</th>
      <td>x</td>
      <td>21 : Incorrect</td>
      <td>F</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>47</th>
      <td>x</td>
      <td>21 : Incorrect</td>
      <td>F</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>48</th>
      <td>x</td>
      <td>21 : Incorrect</td>
      <td>G</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>x</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>49</th>
      <td>x</td>
      <td>40 : Incorrect</td>
      <td>G</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>x</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>50</th>
      <td>x</td>
      <td>45 : missing</td>
      <td>D</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>4</td>
    </tr>
    <tr>
      <th>51</th>
      <td>x</td>
      <td>45 : missing</td>
      <td>F</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>52</th>
      <td>x</td>
      <td>45 : missing</td>
      <td>F</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>53</th>
      <td>x</td>
      <td>45 : unexpected</td>
      <td>G</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>x</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>54</th>
      <td>x</td>
      <td>5 : Incorrect</td>
      <td>8</td>
      <td>DMA</td>
      <td>x</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>55</th>
      <td>x</td>
      <td>5 : Incorrect</td>
      <td>8</td>
      <td>DMA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>56</th>
      <td>x</td>
      <td>5 : missing</td>
      <td>D</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>57</th>
      <td>x</td>
      <td>5 : missing</td>
      <td>D</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>4</td>
    </tr>
    <tr>
      <th>58</th>
      <td>x</td>
      <td>5 : missing</td>
      <td>F</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>59</th>
      <td>x</td>
      <td>5 : missing</td>
      <td>F</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>60</th>
      <td>x</td>
      <td>5 : unexpected</td>
      <td>G</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>x</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>61</th>
      <td>x</td>
      <td>52 : Incorrect</td>
      <td>D</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>62</th>
      <td>x</td>
      <td>52 : Incorrect</td>
      <td>D</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>4</td>
    </tr>
    <tr>
      <th>63</th>
      <td>x</td>
      <td>52 : Incorrect</td>
      <td>F</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>64</th>
      <td>x</td>
      <td>52 : Incorrect</td>
      <td>F</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>65</th>
      <td>x</td>
      <td>52 : Incorrect</td>
      <td>G</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>x</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>66</th>
      <td>x</td>
      <td>56 : Incorrect</td>
      <td>D</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>4</td>
    </tr>
    <tr>
      <th>67</th>
      <td>x</td>
      <td>56 : Incorrect</td>
      <td>F</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>68</th>
      <td>x</td>
      <td>56 : Incorrect</td>
      <td>F</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>69</th>
      <td>x</td>
      <td>56 : Incorrect</td>
      <td>G</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>x</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>70</th>
      <td>x</td>
      <td>6400 : missing</td>
      <td>D</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>71</th>
      <td>x</td>
      <td>6400 : missing</td>
      <td>F</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>72</th>
      <td>x</td>
      <td>6500 : Incorrect</td>
      <td>8</td>
      <td>DMA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>73</th>
      <td>x</td>
      <td>6500 : Incorrect</td>
      <td>D</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>74</th>
      <td>x</td>
      <td>6500 : Incorrect</td>
      <td>F</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>75</th>
      <td>x</td>
      <td>6500 : Incorrect</td>
      <td>G</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>x</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>76</th>
      <td>x</td>
      <td>7009 : Incorrect</td>
      <td>8</td>
      <td>DMA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>77</th>
      <td>x</td>
      <td>7009 : Incorrect</td>
      <td>D</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>78</th>
      <td>x</td>
      <td>7009 : Incorrect</td>
      <td>F</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>2</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>79</th>
      <td>x</td>
      <td>7009 : Incorrect</td>
      <td>G</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>x</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>80</th>
      <td>x</td>
      <td>78 : Incorrect</td>
      <td>G</td>
      <td>DSA</td>
      <td>x</td>
      <td>x</td>
      <td>x</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
  </tbody>
</table>